<section class="landing">
  <div class="heading">
    <h1 class="mat-display-1 title">Hand made cheese</h1>
    <p class="mat-subheading-1" id="theSubheading">At Aradi Sajt, cheese is our passion, and we want to share this
      passion with you!</p>
    <div class="buttons">
      <button mat-button>ABOUT US</button>
      <button mat-raised-button color="primary" routerLink="cheeses">CHEESES</button>
    </div>
  </div>
  <!--<img src="https://firebasestorage.googleapis.com/v0/b/aradisajt.appspot.com/o/cheese-gray-fullhd.jpg?alt=media&token=c7bb961a-442e-42e7-a40d-cbe705a4a227" />-->
</section>
<section class="extra-cards">
  <app-badges></app-badges>
</section>
<app-lacko></app-lacko>

